@model SimpleBudget.Web.Models.Categories.EditModel

<div class="card">
    <div class="card-header">
        <h5>
            @if (Model.Id > 0)
            {
                <text>Edit Category</text>
            }
            else
            {
                <text>Add Category</text>
            }
        </h5>
    </div>
    <div class="card-body">
        @if(Model.Error != null)
        {
            <div class="alert alert-danger" role="alert">
                @Model.Error
            </div>
        }

        <form action="@Context.Request.Path@Context.Request.QueryString" method="post" autocomplete="off">
            <div class="row">
                <div class="col-md-6">

                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" id="Name" name="Name" maxlength="50" value="@Model.Name">
                    </div>

                    @if (Model.PaymentCount != null)
                    {
                        <div class="mb-3">
                            <label class="form-label"># of Payments</label>
                            <div>
                                @Model.PaymentCount
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <input type="submit" class="btn btn-success" value="Save Changes" />
                    <a href="/dictionaries/categories" class="btn btn-danger">Cancel</a>
                </div>
                <div class="col-md-3" style="text-align:right;">
                    @if (Model.Id > 0)
                    {
                        <a href="/dictionaries/categories/remove?id=@Model.Id" class="btn btn-danger">Remove</a>
                    }
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $.validator.setDefaults({
                errorPlacement: function (error, element) {
                    $(element).attr({ "title": error.text() });
                }
            });

            $("form").validate({
                rules: {
                    "Name": {
                        required: true
                    }
                }
            });
        });
    </script>
}