html {
    font-size:14px;
}

body {
    padding-bottom: 20px;
}

div.container-body {
    padding-top:70px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.panel-title span {
    margin-right: 15px;
}

small {
    color: #777;
}

label.error {
    color: red;
}

.form-group div input.form-control {
    display: inline;
}

.form-group div label {
    font-weight: normal;
}

input.form-control.error {
    border-color: red;
}

div.header {
    color: #777;
    background-color: #f5f5f5;
    padding: 5px;
    font-size: 20px;
}

label.form-label {
    font-weight:bold;
}

table.payments tr.selected td {
    font-weight: bold;
}

ul.pagination {
    margin-top: 0px;
}

.align-items-center {
    display: flex;
    align-items: center; /*Aligns vertically center */
}

table .zero {
    color: lightgray;
}

/* Custom Selector */

.custom-selector .dropdown-menu {
    max-height: 200px;
    overflow-y: scroll;
}

.custom-selector .btn-outline-secondary {
    border-color: #ced4da;
    padding-left: 12px;
    padding-right: 12px;
    color: #212529;
}

.custom-selector .btn {
    background-color: #fff;
}

.custom-selector {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    outline: 0;
}

.custom-selector.is-invalid {
    border-color: #dc3545;
}

.custom-selector.focus {
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.custom-selector.is-invalid.focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}

.custom-selector .dropdown-toggle {
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #ced4da;
}

.custom-selector .form-control {
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: 1px solid #ced4da;
    box-shadow: none;
}

.custom-selector .form-control:focus {
    border: none;
    border-right: 1px solid #ced4da;
    box-shadow: none;
}