<style>
    .links > div {
        padding-bottom:15px;
    }
    .links > div a {
        width:300px;
    }
</style>

<div class="card">
    <div class="card-header">
        <h5>
            Dictionaries
        </h5>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-6 links">
                <div>
                    <a href="/dictionaries/categories" class="btn btn-outline-secondary">Categories</a>
                </div>
                <div>
                    <a href="/dictionaries/companies" class="btn btn-outline-secondary">Companies</a>
                </div>
                <div>
                    <a href="/dictionaries/currencies" class="btn btn-outline-secondary">Currencies</a>
                </div>
                <div>
                    <a href="/dictionaries/taxes" class="btn btn-outline-secondary">Taxes</a>
                </div>
                <div>
                    <a href="/dictionaries/wallets" class="btn btn-outline-secondary">Wallets</a>
                </div>
            </div>
        </div>
    </div>
</div>