@{
    var menuAction = (string?)ViewData["menu"];
    var paymentsActive = menuAction == WebConstants.MenuActions.Payments ? " active" : "";
    var summaryActive = menuAction == WebConstants.MenuActions.Summary ? " active" : "";
    var monthlyReportActive = menuAction == WebConstants.MenuActions.MonthlyReport ? " active" : "";
    var taxesActive = menuAction == WebConstants.MenuActions.Taxes ? " active" : "";
    var dictionariesActive = menuAction == WebConstants.MenuActions.Dictionaries ? " active" : "";
    var plansActive = menuAction == WebConstants.MenuActions.Plans ? " active" : "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a href="/payments/" class="navbar-brand">Budget</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link@(paymentsActive)" href="/payments/">Payments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link@(summaryActive)" href="/reports/summary">Summary</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link@(monthlyReportActive)" href="/reports/monthly">Monthly Report</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link@(taxesActive)" href="/reports/tax">Taxes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link@(dictionariesActive)" href="/dictionaries">Dictionaries</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link@(plansActive)" href="/planpayments/">Plans</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container container-body">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - My Budget Application
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/custom-selector.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>